*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.nav__b{
    background: #1648ad;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    
}

.nav__title a{
    color: aqua;
}
.nav__btn{
    background: black;
    color: aliceblue;
    padding: 8px 10px;
    font-size: 15px;
}
.nav__btn:hover{
    background-color: orange;
}